#app {
  perspective: 1200px;
  --o: 0;
  --p: 100%;
  --h: 50%;
  --r: 0;
  transform: translate3d(0, 0, 0.1px);
  color: #fff;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.ticket {
  transform: translate3d(0, 0, 0.1px) scale(1) rotateY(var(--r));
  transform-style: preserve-3d;
  pointer-events: auto;
  display: grid;
  grid-area: 1/1;
  padding-top: 50px;
  width: 300px;
  height: 560px;
  aspect-ratio: 10/30;
}

.front,
.back {
  grid-area: 1/1;
  background-color: #6e6176;
  background-image: radial-gradient(
    circle at var(--p) 50%,
    #111 10%,
    transparent 100%
  );
  background-size: 100% 220vh;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  display: grid;
  backface-visibility: visible;
  transform: translateZ(1px);
  transform-style: preserve-3d;
  mask-image: url(/src/assets//ticket-shape.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
  height: 420px;
}
.cutout {
  position: absolute;
}

.front::after,
.back::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    -70deg,
    transparent 40.5%,
    rgba(255, 255, 255, 0.5) 40.5%,
    transparent
  );
  background-size: 200% 200%;
  background-position: var(--p) var(--p);
  z-index: 5;
  opacity: calc(var(--o) + 0.5);
  pointer-events: none;
}

.front {
  transform: rotateY(180deg) translateZ(1px);
}
.back {
  padding: 20px;
}

.holo {
  display: block;
  position: absolute;
  inset: 0;
  border-radius: 12px;
}

.holo {
  --space: 5%;
  --red: hsl(0, 53%, 53%);
  --orange: hsl(30, 78%, 47%);
  --yellow: hsl(60, 78%, 47%);
  --green: hsl(120, 71%, 45%);
  --cyan: hsl(180, 75%, 43%);
  --blue: hsl(222, 77%, 47%);
  --purple: hsl(258, 69%, 46%);
  --magenta: hsl(300, 51%, 46%);
  background-image: repeating-linear-gradient(
    -45deg,
    var(--red) 0%,
    var(--orange) calc(var(--space) * 1),
    var(--yellow) calc(var(--space) * 2),
    var(--green) calc(var(--space) * 3),
    var(--cyan) calc(var(--space) * 4),
    var(--blue) calc(var(--space) * 5),
    var(--purple) calc(var(--space) * 6),
    var(--magenta) calc(var(--space) * 7),
    var(--red) calc(var(--space) * 8)
  );
  background-size: 150vw 150vh;
  background-position: calc(var(--h)) calc(var(--h));
  background-repeat: no-repeat;
  mask-image: url(https://res.cloudinary.com/dpphcu4gm/image/upload/v1712993492/supabase-outline-logo_u83xos.png);
  mask-size: 80% 80%;
  mask-repeat: no-repeat;
  mask-position: 150% 180%;
  mix-blend-mode: plus-lighter;
  filter: brightness(0.9) contrast(0.7) saturate(2);
  opacity: var(--o);
}

.back-letter {
  font-size: 13px;
  width: 30%;
  place-self: center;
  transform: translateY(-10%);
  color: #fff;
}

.divider {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  bottom: 2%;
  left: 0;
  right: 0;
  height: 18%;
  padding: 0 24px;
  text-transform: uppercase;
  background-image: repeating-linear-gradient(
      90deg,
      #fff0 0px,
      #fff0 8px,
      #ccc 8px,
      #ccc 16px
    ),
    radial-gradient(ellipse at center center, #fff0 10%, transparent 50%);
  background-size: 100% 1.5px, 250% 1.5px;
  background-repeat: no-repeat;
  background-position: -4px top, var(--h) top;
  background-blend-mode: overlay;

  font-size: 16px;
  font-weight: 400;
  z-index: 2;

  div {
    display: flex;
    align-items: center;
    justify-content: left;

    h4 {
      font-size: 14px;
      color: #fff;
    }
  }
}
